<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='grade.css') }}"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='grade.css') }}">
</head>
<body>
    <div class="container">
        <a href="/1" class="button">haftom</a>
        <a href="/2" class="button">hashtom</a>
        <a href="/3" class="button">nohom</a>
        <a href="/4" class="button">dahom</a>
        <a href="/5" class="button">yazdehom</a>
        <a href="/6" class="button">davazdehom</a>
    </div>
</body>
</html>